<header>
    <nav>
      <a href="/">Погода и время</a>
      <ul>
        <li><a href="/">Главная</a></li>
        <li><a href="/weather">Погода</a></li>
        <li><a href="/time">Время</a></li>
      </ul>
    </nav>
  </header>